body {
  color: aquamarine;
  background-color: black; }

#lista ul {
  margin-left: 50px;
  list-style-type: lower-alpha;
  border: 1px solid white; }

#lista li {
  border: 1px solid white; }

.technologies li {
  margin-left: 50px;
  list-style-type: lower-alpha;
  border: 1px solid white; }
