body {
  color: #220000;
  background-color: orange; }

#lista ul {
  margin-left: 50px;
  list-style-type: lower-alpha;
  border: 3px solid white; }

#lista li {
  border: 3px solid white; }

.technologies li {
  margin-left: 50px;
  list-style-type: lower-alpha;
  border: 3px solid white; }
